# Ignore Python bytecode files
__pycache__/
*.pyc

# Ignore node_modules directory
node_modules/

# Ignore environment files
.env

# Ignore JetBrains IDE configuration files
../.idea/

# Virtual Environment
.venv